body {
  padding-top: 70px
}

.page-header{
  border-color: #aaa;
}

#carousel-fotos{
  max-width: 1024px;
  max-height: 575px;
  overflow: hidden;
}
.carousel img{
  min-width: 100%;
  height: auto;
}
